<!-- <h1>
    This is shopPage!
</h1> -->

<section>
    <header>
        <h4>
            {{ titleInfo.title1 }}
        </h4>
    </header>
    <!-- <hgroup>
        <h3>01</h3>
        <h3>02</h3>
        <h3>03</h3>
    </hgroup> -->
    <article class="partPhoto">
        <img *ngFor="let imgItem of itemArr" [src]="imgItem.path" alt="">
    </article>

    <div class="titleDiv">
        <p>title0</p>
        <span>{{ titleInfo.title1Txt }}</span>
    </div>

    <figure class="partOne">
        <figcaption>
            <span>{{ titleInfo.partOne.title }}</span>
            <img [src]="titleInfo.partOne.path" alt="">
        </figcaption>
        <p>{{ titleInfo.partOne.content }}</p>
    </figure>

    <figure class="partTwo">
        <figcaption>
            <span>{{ titleInfo.partTwo.title }}</span>
            <img [src]="titleInfo.partTwo.path" alt="">
        </figcaption>
        <p>{{ titleInfo.partTwo.content }}</p>
    </figure>

    <figure class="partThree">
        <figcaption>
            <span>{{ titleInfo.partThree.title }}</span>
            <img [src]="titleInfo.partThree.path" alt="">
        </figcaption>
        <p>{{ titleInfo.partThree.content }}</p>
    </figure>

    <figure class="partFour">
        <figcaption>
            <span>{{ titleInfo.partFour.title }}</span>
            <img [src]="titleInfo.partFour.path" alt="">
        </figcaption>
        <p>{{ titleInfo.partFour.content }}</p>
    </figure>



</section>


<aside>
    <ul>
        <li>
            <a>001</a>
        </li>
        <li>
            <a>002</a>
        </li>
        <li>
            <a>003</a>
        </li>
    </ul>
</aside>

<footer>
    <nav>
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li *ngFor="let navItem of navgationArr" >
                <a [routerLink]="navItem.path">
                    {{ navItem.title }}
                </a>
            </li>
        </ul>
    </nav>
</footer>